@page "/mycampaigns"
@using CampaignCompanion.Components
<MudExpansionPanels MultiExpansion="true" Class="ma-3 mx-12">
    <MudExpansionPanel @bind-IsExpanded="_dmedCampaignsExpanded">
        <TitleContent>
            <div class="d-flex">
                <MudText>DM'd Campaigns</MudText>
                <MudBadge Content="CampaignList.Count" Color="Color.Primary" Overlap="true" Class="d-flex ml-auto mr-2">
                    <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default"/>
                </MudBadge>
            </div>
        </TitleContent>
    </MudExpansionPanel>
    <MudCollapse @bind-Expanded="_dmedCampaignsExpanded">
        <MudContainer Class="pt-2 pb-8" MaxWidth="MaxWidth.False">
            <CampaignsGrid CampaignList="CampaignList" AllowNew="true"></CampaignsGrid>
        </MudContainer>
    </MudCollapse>
    <MudExpansionPanel Disabled="true">
        <TitleContent>
            <div class="d-flex">
                <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
                <MudText>Campaigns Played In (Coming Soon)</MudText>
            </div>
        </TitleContent>
    </MudExpansionPanel>
</MudExpansionPanels>
