<MudCard Class="d-flex align-center justify-space-between justify-center border-dashed border-2 mud-border-primary px-4" Elevation="@ElevationLevel" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" Style="min-height: 100%">
    <div class="flex-grow-1 mr-4">
        <MudTextField @bind-Value="CampaignName" Label="Campaign Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
    </div>
    <div>
        <MudFab Size="Size.Small" IconSize="Size.Medium" Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowForward" @onclick="OnClickCampaign" />
    </div>
</MudCard>

