<MudContainer Class="d-flex flex-column flex-grow-1 gap-4 pl-0" MaxWidth="MaxWidth.False">
    <MudPaper Elevation="3" Class="pa-4 d-flex" Style="height: 200px">
        <MudContainer Class="d-flex flex-column flex-grow-0 pr-0 pl-0" MaxWidth="MaxWidth.False">
            <MudContainer Class="d-flex justify-space-between pr-0 mb-2" MaxWidth="MaxWidth.False">
                <MudContainer Class="pl-0">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="40px" />
                </MudContainer>
            </MudContainer>
            <MudContainer Class="flex-grow-0" Style="overflow:scroll;" MaxWidth="MaxWidth.False">
                <p>This a test description lol </p>
                <p>This a test description lol </p>
                <p>This a test description lol </p>
                <p>This a test description lol </p>
                <p>This a test description lol </p>
                <p>This a test description lol </p>
                <p>This a test description lol </p>
                <p>This a test description lol </p>
            </MudContainer>
        </MudContainer>
    </MudPaper>
    <MudPaper Elevation="3" Class="pa-4 flex-grow-1" Style="min-height: 300px"></MudPaper>
</MudContainer>